.aboutme-container {
    /* padding: 100px 50px 60px 50px; */
    padding: 60px 50px;
    justify-content: center;
    /* background-color: yellow; */
}

.aboutme-text {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutme-text_title {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-align: right;

}

.aboutme-text_role {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-align: right;
}

.aboutme-text_content {
    margin: 0;
    padding-top: 25px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: right;
}

.aboutme-imgbox {
    padding: 10px 0;
    margin-left: 10px;
}

.aboutme-img {
    width: 430px;
    margin-left: 20px;
}


/* Tablet: 740px <= width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .aboutme-container {
        margin-top: 80px;
    }

    .aboutme-img {
        width: 400px;
    }

}

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {
    .aboutme-container {
        padding: 40px 10px;
        margin-top: 80px;
    }

    .aboutme-imgbox {
        margin: 0;
        text-align: center;
    }

    .aboutme-img {
        width: 330px;
    }

    .aboutme-text {
        padding: 0 20px;
    }
    
    .aboutme-text_title {
        margin: 20px 10px 0 10px;
        text-align: left;
        font-size: 28px;
    }

    .aboutme-text_role {
        margin: 0 10px;
        text-align: left;
        font-size: 18px;
    }

    .aboutme-text_content {
        margin: 0 10px;
        text-align: left;
        font-size: 17px;

    }
}